<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="xyz.donot.roselinx">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <application
    android:allowBackup="true"
    android:fullBackupContent="@xml/backup_descriptor"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:name=".Roselin"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:replace="android:label"
    >
    <activity
      android:label="OauthActivity"
      android:name=".ui.oauth.OauthActivity"
      android:theme="@style/AppTheme.NoActionBar"/>

    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="6a54bc1be9e7f263796a0d1ea143f2f29dcbd3fe"/>

    <activity
      android:label="@string/app_name"
      android:name=".ui.main.MainActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:label="@string/title_activity_picture"
      android:name=".ui.picture.PictureActivity"
      android:theme="@style/DragDismissTheme"/>
    <activity
      android:configChanges="orientation|screenSize|keyboardHidden"
      android:name=".ui.video.VideoActivity"
      android:screenOrientation="portrait"
      android:theme="@style/DragDismissTheme"/>
    <activity
      android:label="@string/title_activity_user"
      android:name=".ui.detailuser.UserActivity"
      android:theme="@style/AppTheme.Translucent.User"/>
    <activity
      android:label="SettingsActivity"
      android:name=".ui.setting.SettingsActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:label="@string/title_activity_tweet_edit"
      android:name=".ui.editteweet.EditTweetActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:label="@string/title_activity_twitter_detail"
      android:name=".ui.detailtweet.TwitterDetailActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:label="EditProfileActivity"
      android:name=".ui.editprofile.EditProfileActivity"
      android:theme="@style/AppTheme.NoActionBar"/>

    <service
      android:exported="false"
      android:name=".service.TweetPostService"/>


    <activity
      android:name=".ui.search.SearchActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:name="com.yalantis.ucrop.UCropActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:name=".ui.search.SearchSettingActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:label="@string/title_activity_back_image"
      android:name=".ui.setting.BackImageActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="xyz.donot.roselinx.view.activity.BackImageActivity"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.userlist.UserListActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:name=".ui.setting.TabSettingActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="xyz.donot.roselinx.view.activity.TabSettingActivity"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity
      android:label="@string/title_activity_user_lists"
      android:name=".ui.userslist.UsersListActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:label="@string/title_activity_account_setting"
      android:name=".ui.account.AccountSettingActivity"
      android:theme="@style/AppTheme.NoActionBar"/>

    <service
      android:exported="false"
      android:permission="android.permission.BIND_JOB_SERVICE"
      android:name=".service.StreamingService"/>

    <activity
      android:label="@string/title_activity_mute_setting"
      android:name=".ui.mutesetting.MuteSettingActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="xyz.donot.roselinx.view.activity.MuteSettingActivity"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity
      android:label="@string/title_activity_help"
      android:name=".ui.setting.HelpActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="xyz.donot.roselinx.view.activity.HelpActivity"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <receiver
      android:enabled="true"
      android:exported="false"
      android:name=".ui.main.SendReplyReceiver"/>
  </application>

</manifest>